.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.form-group {
  display: block;
  width: 100%;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin: 10px 15px 0;
  position: relative;
}
.form-group .field-wrapper {
  width: 45%;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 2%;
}
.form-group .remove-field-button {
  position: absolute;
  top: 23px;
  right: 15px;
}
.field-wrapper span.error {
  color: crimson;
}
.table button {
  margin-right: 10px;
}
.modal-body .add-new-field-wrapper {
  margin-top: 10px;
  text-align: right;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
